<!DOCTYPE html>
<html lang="en" data-theme="coffee">
  <head>
    <title>Forgot Password</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/common-scripts.ejs') %>
    <script src="/scripts/forgotPasswordForm.js" defer></script>
  </head>
  <body class="min-h-screen bg-base-200 flex items-center justify-center font-['Schoolbell']">
    <div class="card w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <h1 class="text-2xl font-bold text-center mb-6">
          Recover your password
        </h1>
        <form action="/forgot-password" method="POST" class="form-control">
          <div class="form-control">
            <label for="username" class="label">
              <span class="label-text">Your Username</span>
            </label>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= oldInput.username %>"
              class="input input-bordered"
            />
            <% const usernameError = errors && errors.find(error => error.path === 'username'); %>
            <span
              id="usernameError"
              class="text-error text-sm mt-1 <%= usernameError ? '' : 'hidden' %>"
            >
              <%= usernameError ? usernameError.msg : '' %>
            </span>
          </div>

          <div class="form-control mt-4">
            <label for="lastName" class="label">
              <span class="label-text">Last Name</span>
            </label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              value="<%= oldInput.lastName %>"
              class="input input-bordered"
            />
            <% const lastNameError = errors && errors.find(error => error.path === 'lastName'); %>
            <span
              id="lastNameError"
              class="text-error text-sm mt-1 <%= lastNameError ? '' : 'hidden' %>"
            >
              <%= lastNameError ? lastNameError.msg : '' %>
            </span>
          </div>

          <div class="form-control mt-4">
            <label for="password" class="label">
              <span class="label-text">New Password</span>
            </label>
            <input
              type="password"
              id="password"
              name="password"
              class="input input-bordered"
            />
            <% const passwordError = errors && errors.find(error => error.path === 'password'); %>
            <span
              id="passwordError"
              class="text-error text-sm mt-1 <%= passwordError ? '' : 'hidden' %>"
            >
              <%= passwordError ? passwordError.msg : '' %>
            </span>
          </div>

          <div class="form-control mt-4">
            <label for="confirmPassword" class="label">
              <span class="label-text">Confirm new Password</span>
            </label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="input input-bordered"
            />
            <% const confirmPasswordError = errors && errors.find(error => error.path === 'confirmPassword'); %>
            <span
              id="confirmPasswordError"
              class="text-error text-sm mt-1 <%= confirmPasswordError ? '' : 'hidden' %>"
            >
              <%= confirmPasswordError ? confirmPasswordError.msg : '' %>
            </span>
          </div>

          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary">
              Change Password
            </button>
          </div>
        </form>
        <div class="text-center mt-4">
          <a href="/" class="link link-primary no-underline">Go Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
